fastapi
uvicorn
python-dotenv
python-multipart

# AI / RAG
langchain
langchain-community
langchain-groq
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf

# Core
pydantic

# Database
sqlalchemy
psycopg2-binary
pandas

# Security
passlib[bcrypt]
python-jose[cryptography]

# Document Export
fpdf2
python-docx